:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #1a1a1a;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 639px) {
	#app {
		width: 100vw;
		height: 100vh;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}
